# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore


.user.ini
php.ini

# Log files
error_log
*.log

# Configuration
wp-config.php

# htaccess
.htaccess

# Uploads
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/db.php
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/wp-total-cache-config.php
wp-content/w3-total-cache-config.php
wp-content/plugins/wordfence/tmp/configCache.php
wp-content/webp-express/webp-images/*
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-content/wfcache/*
wp-content/wflogs/*
wp-content/updraft
sitemap.xml
wp-content/.DS_Store
wp-content/themes/.DS_Store
wp-content/w3tc-config/*
wp-content/wpo-cache/*


# Extra cPanel Options
.well-known/
phpMyAdmin/
.history/*

# Codekit
config.codekit
config.codekit3

# SASS
*.sass-cache*

# OSX Stuff
.DS_Store
.AppleDouble
.LSOverride